div{
  text-align:center;
  margin:10px;
}

select {
  background-color:#d6d4d4;
}

section {
  text-align: center;
  width: 1000px;
}

.animal {
  width: 300px;
  height: 300px;
  margin: 0;
}

.blanco-negro{
  filter:grayscale(100%);
  -webkit-filter: grayscale(100%);
}

.invertir-colores{
  -webkit-filter:invert(.8);
  filter:invert(.8);
}

.sepia{
  -webkit-filter:sepia(1);
  filter:sepia(1);
}
